body {
   
}

h1 {
    padding-top: 100px;
    text-align: center;
}

img {
   
}


p {
    text-align: center;
}

button {
    float: right;
    margin-right: 200px;
    margin-top: 75px;
}

